{% extends 'portfolio/base.html' %}

{% block content %}
    <section class="about-container">
        <!-- قسم التعريف -->
        <div class="about-text">
            <h1>عنّي</h1>
            <p>
                أنا <strong>أريام عسيري</strong> طالبة علوم حاسب متخصصة في الذكاء الاصطناعي والتقنيات الحديثة مهتمة بتحليل البيانات وإثراء المحتوى التقني العربي أشارك خبراتي ومشاريعي البرمجية عبر منصات التواصل الاجتماعي بهدف تبسيط المفاهيم ونقل المعرفة أسعى باستمرار لاكتشاف أحدث ما توصلت إليه التقنية وتوظيفه في تطوير حلول مبتكرة تخدم مجتمعي
                <br>هذه المساحة هي مرآة لرحلتي التقنية، حيث أشارك فيها مقالاتي، مشاريعي، وتجاربي في هذا المجال المتجدد
            </p>
        </div>

        <!-- أيقونات التواصل الاجتماعي -->
        <div class="icons">
            <a class="icon-link" href="your_cv_link.pdf" target="_blank">
                <div class="icon-box"><i class="fa-solid fa-file"></i></div>
            </a>
            <a class="icon-link" href="https://github.com/ProAryam-X100" target="_blank">
                <div class="icon-box"><i class="fa-brands fa-github"></i></div>
            </a>
            <a class="icon-link" href="https://www.linkedin.com/in/aryamaseiri" target="_blank">
                <div class="icon-box"><i class="fa-brands fa-linkedin"></i></div>
            </a>
            <a class="icon-link" href="https://x.com/ill_Ar100?t=t5L0TcxJanNcci84STBQTg&s=09" target="_blank">
                <div class="icon-box"><i class="fa-brands fa-x-twitter"></i></div>
            </a>
        </div>
    </section>

{% endblock %}